.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

.wrapper {
    background: url('../images/telescopeBgImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-text {
    font-family: 'Satisfy', cursive;
    font-size: 2.5em;
    color: darkgoldenrod;
}

.panel-transparent {
    background: none;
    border: 1px dimgrey;
}

.panel-transparent .panel-body {
    background: rgba(46, 51, 56, 0.2) !important;
}

.navbar {
    -webkit-box-shadow: -1px 14px 90px -12px rgba(255,255,255,1);
    -moz-box-shadow: -1px 14px 90px -12px rgba(255,255,255,1);
    box-shadow: -1px 14px 90px -12px rgba(255,255,255,1);
    /* the rest of your styling */
}

body {
    padding-top: 55px;
}