<div class="wrapper" style="height: 100%">
    <div class="container" style="padding-top: 20%">
        <div class="row">

            <div class="panel panel-primary panel-transparent">
                <div class="panel-body">
                    <div class="col-md-5 col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon input-lg" id="basic-addon1">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </span>
                            <input type="text" id="pac-input" class="form-control input-lg" placeholder="Enter Location"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon input-lg" id="basic-addon2">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </span>
                            <input type="text" name="daterange" value="01/01/2015 - 01/31/2015"
                                   class="form-control input-lg"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button type="button" class="btn btn-primary btn-lg" ng-click="listBanners()">Search</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
        </div>


    </div>

</div>-->

<!--<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
            </p>
        </div>

        <div class="col-md-4">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
            </p>
        </div>

        <div class="col-md-4">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <h1>Headline</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
    </p>
</div>-->

<script>


</script>