<div class="container">
    <div class="row">

        <!--Sidebar-->
        <div class="col-md-12">
            <!--<h4 class="display-4">Filters</h4>-->
            <!--Sidebar-->
            <div class="row">

                <div class="col-sm-6" style="padding-top: 20px">
                    <div class="input-group">
                        <span class="input-group-addon input-md" id="basic-addon1">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </span>
                        <input type="text" id="pac-input" class="form-control input-md" placeholder="Change Location"
                               aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-sm-6" style="padding-top: 20px">
                    <div class="input-group">
                            <span class="input-group-addon input-md" id="basic-addon2">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </span>
                        <input type="text" name="daterange" value="01/01/2015 - 01/31/2015"
                               class="form-control input-md"
                               aria-describedby="basic-addon1">
                    </div>
                </div>


                <div class="col-sm-6" style="padding-top: 10px">
                    <div style="text-align: center">
                        <div style="float: left"> 1200</div>
                        Price Range
                        <div style="float: right"> 9800</div>
                    </div>

                    <input id="ex1" style="width: 100%" data-slider-id='ex1Slider' type="text" data-slider-min="1200"
                           data-slider-max="9800" data-slider-step="1" data-slider-value="14"/>
                </div>

                <div class="col-sm-6" style="padding-top: 10px">
                    <div style="text-align: center">
                        <div style="float: left"> 1000</div>
                        Banner Size (Width : Height)
                        <div style="float: right"> 10000</div>
                    </div>
                    <input id="ex2" style="width: 100%" type="text" class="span2" value="" data-slider-min="1000"
                           data-slider-max="10000" data-slider-step="5" data-slider-value="[1250,2450]"/>
                </div>
                <div class="col-sm-12" style="padding-top: 10px"></div>
            </div>


        </div>

        <!--Content-->
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
</div>

<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 80%;
    }
</style>

<!--<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>

    </div>
</div>-->

<!--<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
            </p>
        </div>

        <div class="col-md-4">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
            </p>
        </div>

        <div class="col-md-4">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <h1>Headline</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis nisl ligula. Quisque interdum tristique diam ut scelerisque. Curabitur sapien lectus, ornare at eros a, convallis congue purus. Phasellus tempor at eros et accumsan. Suspendisse nec sem convallis, dapibus arcu eu, finibus lacus. Ut id porttitor sem. Donec at dignissim nunc, sit amet commodo dolor. Aenean eu tempus risus. Maecenas scelerisque eros in lectus luctus, rhoncus fringilla neque efficitur. Cras elementum nisi molestie, dictum mi ac, molestie leo.
    </p>
</div>-->

<script>


</script>